<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dudiao.solon.nativex.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.github.dudiao.solon.nativex.example.model.entity.User">
        <id column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="head_img" jdbcType="VARCHAR" property="headImg" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="remark_name" jdbcType="VARCHAR" property="remarkName" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="wxid" jdbcType="VARCHAR" property="wxid" />

    </resultMap>

    <insert id="insert" parameterType="com.github.dudiao.solon.nativex.example.model.entity.User">
        insert into my_user (user_id, head_img, nick_name, remark_name, name, wxid) values
        (#{userId}, #{headImg}, #{nickName}, #{remarkName}, #{name}, #{wxid});
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        select user_id, head_img, nick_name, remark_name, name, wxid from my_user where user_id = #{userId}
    </select>

</mapper>